@page
@model BookBuddy.Pages.Auth.LoginModel

<h2>Prijava</h2>

<form method="post">
    <div class="form-group">
        <label>Uporabniško ime:</label>
        <input asp-for="UporabniskoIme" class="form-control" />
    </div>

    <div class="form-group">
        <label>Geslo:</label>
        <input asp-for="Geslo" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Prijava</button>
</form>

@if (Model.Sporocilo != null)
{
    <div class="alert alert-danger mt-3">@Model.Sporocilo</div>
}