@page
@model BookBuddy.Pages.Books.AddModel

<div class="container mt-4">
    <h2>Dodaj knjigo</h2>
    <form method="post">
        <div class="mb-3">
            <label>Naslov *</label>
            <input asp-for="Naslov" class="form-control" required />
            <span asp-validation-for="Naslov" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Avtor *</label>
            <input asp-for="Avtor" class="form-control" required />
            <span asp-validation-for="Avtor" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Leto izdaje *</label>
            <input asp-for="LetoIzdaje" type="number" class="form-control" required />
            <span asp-validation-for="LetoIzdaje" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Žanr *</label>
            <input asp-for="Zvrst" class="form-control" required />
            <span asp-validation-for="Zvrst" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Opis</label>
            <textarea asp-for="Opis" class="form-control" rows="4"></textarea>
        </div>
        <button class="btn btn-primary">Dodaj</button>
    </form>

    @if (Model.Sporocilo != null)
    {
    <p class="text-success mt-3">@Model.Sporocilo</p>
    }
    @if (Model.ErrorSporocilo != null)
    {
    <p class="text-danger mt-3">@Model.ErrorSporocilo</p>
    }
</div>